/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(31, 41, 55, 1);
    box-sizing: border-box;
    margin: 0;
    color: #1F2937;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 110%;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 110%;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}

.custom-h6 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.125rem;
    line-height: 150%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

a {
    all:unset;
    cursor: pointer;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

nav {
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 1rem 5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.buttons-group {
    gap: 2rem;
    align-items: center;
}

.button {
    border-radius: 0.5rem;
    border: 2px solid #4694DD;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
}

.button.primary {
    background: #4694DD;
}

.button.secondary {
    letter-spacing: 0.03125rem;
}

.hero-section {
    margin: 0 5rem;
    height: 92vh;
}

.hero-content {
    color: white;
    max-width: 600px;
    flex-direction: column;
    gap: 1rem;
}

.img-wrapper {
    width: 50rem;
}

img {
    width: 100%;
    height: 100%;
}

.buttons-group.hero {
    gap: 1rem;
    font-weight: 600;
}

span {
    background: linear-gradient(91deg, #4694DD 11.52%, #0FF 49.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.how-section {
    background-color: white;
    padding: 7rem 0;
}

.cards {
    margin: 0 5rem;
    gap: 5rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: stretch;
    width: 350px;
}

.card-text {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    color: rgba(31, 41, 55, 0.80);
}

.num {
    width: 30px;
    height: 30px;
}

.card-img {
    height: 97px;
    margin-bottom: 1rem;
}

.testimonial-section {
    background: #E5E7EB;
    padding: 7rem;
}

.testimonial-card {
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.testimonial-text {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 160%;
}

.pfp {
    width: 6rem;
    height: 6rem;
    border-radius: 6.25rem;
}

.cta-section {
    padding: 5rem 5rem;
    background-color: white;
    color: white;
}

.cta {
    background-color:#4694DD;
    padding: 3rem;
    border-radius: 1rem;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.cta-text {
    margin-block-start: 0;
    margin-block-end: 0;
}